.container {
 
    justify-content: center;
    align-items: center;
  }
  
  .row {
 
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

   form {
    margin-top: 3rem;
   }

   form input[name="city"],
   form input[name="country"]{
    background-color: transparent;
    color: white;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;

   }

   form input:focus{
    background-color: transparent;
    box-shadow: none !important;
   }